Package: i.elias.elispot
Name: EliSpot
Version: 0.1.1
Architecture: iphoneos-arm
Description: Clean-room Spotify UI tweak experiment with load diagnostics.
Maintainer: elias
Author: elias
Section: Tweaks
